<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>工作必备效率应用 | MagneticNote</title>
    <link rel="stylesheet" href="../static/styles/iview.css">
    <script type="text/javascript" src="../static/script/vue.min.js"></script>
    <script type="text/javascript" src="../static/script/axios.min.js"></script>
    <script type="text/javascript" src="../static/script/iview.min.js"></script>
    <style type="text/css">
        a{
            color: #19be6b;
        }
    </style>
</head>

<body style="background:#f3f3f3;text-align:center">
    <header>
        <div style="position: relative;background-color: #2dbe60;height: 4px;width: 100%;z-index: 3;">
        </div>
    </header>

    <nav style="margin: 66px 0 26px 0">
        <div style="margin: 0 0 19px 0;background: url('../static/image/Log.png') no-repeat center top;height: 68px;background-size: 68px 68px;"></div>
        <h1 style="font-size: 32px;font-family: caecilia, Times, serif;font-style: normal;font-weight: 300;line-height: 36px;margin-bottom: 6px;color: #6a6a6a;">登录</h1>
    </nav>

    <section id="content">
        <Card style="width: 386px;height: 320.4px;margin: 0 auto;" :bordered="true" :dis-hover="true" :shadow="true">
            <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" style="margin: 16px;">
                <formitem prop="Email">
                    <i-input type="text" :maxlength="30" size="large" v-model="formValidate.Email" placeholder="邮箱" :autofocus="true"></i-input>
                </formitem>
                <formitem prop="Password" style="margin-bottom:36px">
                    <i-input @on-enter="this.Login" type="password" :maxlength="30" size="large" v-model="formValidate.Password" placeholder="密码"></i-input>
                </formitem>
                <formitem style="text-align: left;margin-bottom: 14px">
                    <Checkbox v-model="single">30 天内记住我</Checkbox>
                </formitem>
                <formitem prop="button">
                    <i-button :loading="loading" @click="this.Login" size="large" type="success" long>登录</i-button>
                </formitem>
            </i-form>
            <a href="#" style="font-size: 12px;">忘记密码?</a>
        </Card>
    </section>

    <section style="margin: 32px">
        <div>没有账号？</div>
        <div><a href="../"><h2 style="font-weight: normal">创建账户</h2></a></div>
    </section>

    <footer style="margin: 128px auto 12px auto;line-height: 36px;">
        <a href="#" target="_blank" style="font-size:12px;font-family: caecilia, Times, serif;font-style: normal;font-weight: 300;color: #6a6a6a;">服务条款&nbsp;&nbsp;&nbsp;&nbsp;</a>|
        <a href="#" target="_blank" style="font-size:12px;font-family: caecilia, Times, serif;font-style: normal;font-weight: 300;color: #6a6a6a;">&nbsp;隐私政策&nbsp;&nbsp;&nbsp;&nbsp;</a>|&nbsp;&nbsp;
        <span style="font-size:12px;font-family: caecilia, Times, serif;font-style: normal;font-weight: 300;color: #6a6a6a;">版权所有2017Evernote Corporation。保留所有权利。</span>
    </footer>
    <Modal id="modal_error" v-model="this.isshow" title="登录失败" @on-cancel="this.close" @on-ok="this.close" :mask-closable="false" :closable="false">
        <h1>{{ this.modalContent }}</h1>
    </Modal>
    <script type="text/javascript" src="../static/script/login.js"></script>
</body>
</html>
